/* Color Palette 
#7a121b - wine
#fad427 - yellow*/


/* Global Styles
---------------------------------- */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Header styles
------------------------------ */

header{
    padding: 30px 50px;
    height: 270px;
    background-color: #7a121b;
    color: white;
}

.logo{
    float: left;
}

/* Main styles
------------------------------ */

main h1{
    padding: 20px 0 30px;
    font-weight: 700;
    font-size: 28px;
}

.main{
    text-align: center;
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 10px #919191;
    width: 400px;
    height: 400px;
    top: 160px;
    margin: -110px auto 30px;
}

form>*{
    display: block;
}

.form-box{
    border: 1px solid #fad427;
    border-radius: 8px;
    margin: 5px 0 10px 0;
    height: 35px;
    width: 300px;
}

label{
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    padding-left: 20px;
}

input{
    outline: none;
    font-size: 16px;
    letter-spacing: 0.1ch;
}

input:focus {
    outline: 1px solid #fad427;
}

.material-icons{
    color: #fad427;
    margin-left: -30px;
    padding-right: 10px;
    cursor: pointer;
    font-size: 18px;
}

.submit{
    background-color: #fad427;
    border: 1px solid #fad427;
    border-radius: 8px;
    margin: 25px auto;
    height: 35px;
    width: 300px;
    font-size: 16px;
    font-weight: 700;
}

.submit:hover{
    background-color: #fad327c5;

}

/* validation */
.validation{
    background-color: #f3bbbb;
    border-radius: 5px;
    font-size: 14px;
    color: red;
    width: 300px;
    height: 35px;
    padding: 10px;
    margin: 15px auto 25px;
    text-align: left;
    transition: 1s ease-out;
}



/* Footer styles
------------------------------ */
.footer{
    width: 832px;
    margin: 0 auto;
    text-align: center;
}

footer h6{
    padding: 10px 0;
    font-size: 15px;
}

footer p{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 20px;
}


/*-----------------------------------*/
@media screen and (max-width: 720px) {
    /* Footer styles
    ------------------------------ */
    .footer{
        width: 90%;
    }

@media screen and (max-width: 520px) {
    /* header styles
    ------------------------------ */
    header{
        height: 300px;
        padding: 30px 15px;
    }
    
    .logo img{
        width: 125px;
        height: 75px;
    }

    /* Main styles
    ------------------------------ */
    .main{
        padding: 30px;
        width: 90%;
        height: 400px;
        margin: -100px auto 10px;
    }
    
    .form-box, .submit, .validation{
        width: 90%;
    }

}

}

